doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title CaratTalk
        link(rel="stylesheet", href="/css/index.css?ver0.1" type="text/css") 
        script(src="https://kit.fontawesome.com/c80082bb6f.js" crossorigin="anonymous")
        
    body 
            .box1 
                .box1__homeTag
                    a(href="/").atag1 Fakestagram
                .box1__icons
                    .icon1
                        i(class="fa-solid fa-house")
                        a(href="/") 홈
                    br
                    .icon2
                        i(class="fa-solid fa-magnifying-glass")
                        a(href="/") 검색
                    br
                    .icon3
                        i(class="fa-regular fa-compass")
                        a(href="/") 탑색 팁
                    br
                    .icon4
                        i(class="fa-solid fa-clapperboard")
                        a(href="/") 릴스 
                    br
                    .icon5
                        i(class="fa-solid fa-envelope")
                        a(href="/") 메세지
                    br
                    .icon6
                        i(class="fa-solid fa-bell")
                        a(href="/") 알림
                    br
                    .icon7
                        i(class="fa-regular fa-square-plus")
                        a(href="/") 만들기
                    br
                    .icon8
                        i(class="fa-solid fa-user")
                        a(href="/profile") 프로필

                .box__col3 
                    i(class="fa-solid fa-bars")
                    a(href="/").atag2 더보기
            .box2
                .box2__story 프필1 프필2 프필3 프필4
            .box3 box3